<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <!--change by yourself-->
  <add key="RuleName" value="test" />
  <add key="IsEnabled" value="true" />
  <add key="RuleType" value="test" />
  <add key="BType" value="test" />
  <add key="PrefixMatch" value="test,test" />
  <add key="CreateDays" value="30" />
  <add key="UpdateDays" value="90" />
  <add key="DeleteDays" value="1000" />
</configuration>